:root {
  --primary-color: #047aed;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.navbar .flex {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
